@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
 @import url(./css/form.css);
 @import url(./css/header.css);
 @import url(./css/subtitle.css);
 @import url(./css/desc.css);
 @import url(./css/footer.css);
* {
      color: #ffff;
      font-family: 'Ubuntu', sans-serif;
      font-style: normal;
      box-sizing: border-box;
      padding: 0;
      margin: 0;
  }
  body {
      background-color: #272A2F;
  }
  .image-box {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  } 

  .imgWrapper {
    background-color: rgba(25, 131, 155, 0.726);
    width: 244px;
    height: 244px;
    transition: 0.4s;
    margin-bottom: 20px;
    background-image: url(./image/Vectorlupa.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .img-item:hover {
    opacity: 0.3;
    transition: 0.4s;
}
@media screen and (max-width: 1066px) {
    .img-item {
        width: 100%;
        height: 244px;
        margin-right: 15px;
        margin-bottom: 20px;
        object-fit: cover;
        cursor: pointer;
    }
    .imgWrapper {
        background-color: rgba(25, 131, 155, 0.726);
        width: 23%;
        height: 244px;
        transition: 0.4s;
        margin-bottom: 20px;
        background-image: url(./image/Vectorlupa.svg);
        background-repeat: no-repeat;
        background-position: center;
      }
}


@media screen and (max-width: 900px) {
    section {
        padding: 0 20px;
    }
      .subtitle {
          flex-wrap: wrap;
          width: 100%;
          height: 100%;
      }
      .subtitle .photo-main {
          width: 762px;
          height: 355px;
          object-fit: cover;
          margin-right: 0;
          margin-bottom: 65px;
      }
      .subtitle .subtitle-introduce {
          display: flex;
          justify-content: start;
          width: 762px;
      }
      .desc {
          height: 100%;
          margin-bottom: 0;
      }
      .portfolio {
        display: flex;
          width: 766px;
       }
      .img-item {
          width: 180px;
          height: 180px;
          margin-right: 11px;
          object-fit: cover;
      }
      .imgWrapper {
        background-color: rgba(25, 131, 155, 0.726);
        width: 180px;
        height: 180px;
        transition: 0.4s;
        margin-bottom: 20px;
        background-image: url(./image/Vectorlupa.svg);
        background-repeat: no-repeat;
        background-position: center;
      }
  }
  @media screen and (max-width: 806px) {
    .img-item {
        width: 100%;
        height: 180px;
        margin-right: 11px;
        object-fit: cover;
    }
    .imgWrapper {
      background-color: rgba(25, 131, 155, 0.726);
      width: 23%;
      height: 180px;
      transition: 0.4s;
      margin-bottom: 20px;
      background-image: url(./image/Vectorlupa.svg);
      background-repeat: no-repeat;
      background-position: center;
    }

  }


  @media screen and (max-width: 602px) {
    .img-item {
        width: 100%;
        height: 180px;
        margin-right: 11px;
        object-fit: cover;
    }
    .imgWrapper {
      background-color: rgba(25, 131, 155, 0.726);
      width: 22%;
      height: 180px;
      transition: 0.4s;
      margin-bottom: 20px;
      background-image: url(./image/Vectorlupa.svg);
      background-repeat: no-repeat;
      background-position: center;
    }

  }



  @media screen and (max-width: 376px) {
    section {
        padding: 0 50px;
    }
      .subtitle {
          flex-wrap: wrap;
          width: 100%;
      }
      .subtitle .photo-main {
          width: 341px;
          height: 355px;
          object-fit: cover;
          margin-right: 0;
          margin-bottom: 65px;
      }
      .subtitle .subtitle-introduce {
          display: flex;
          justify-content: start;
          width: 341px;
      }
      .subtitle button {
          width: 341px;
      }
      .desc {
          height: 100%;
          margin-bottom: 0;
      }
      .portfolio {
          width: 341px;
      }
      .portfolio p {
          width: 341px;
      }
      .img-item {
        width: 165px;
        height: 165px;
        margin-right: 11px;
    }
    .imgWrapper {
        background-color: rgba(25, 131, 155, 0.726);
        width: 163px;
        height: 163px;
        transition: 0.4s;
        margin-bottom: 20px;
        background-image: url(./image/Vectorlupa.svg);
        background-repeat: no-repeat;
        background-position: center;
      }
    .img-item:nth-child(2n) {
        margin-right: 0;
    }
  }